// colors dark theme
$primary-text: #ffffff
$secondary-text: #bcbec0
$primary-color: #0f0f0f
$secondary-color: #1c1e21
$highlight-color: #2c3037
$shadow-color: #7f1bad
$warning-color: #ff6700
$shine-color: rgba(255,255,255,0.4)

//light theme
// $primary-text: #0f0f0f
// $secondary-text: #1c1e21
// $primary-color: #ffffff
// $secondary-color: #bcbec0
// $highlight-color: #d7d9db

//size
$border-radius: 8px