// colors dark theme
$primary-text: #ffffff
$secondary-text: #bcbec0
$primary-color: #0f0f0f
$secondary-color: #162340
$highlight-color: #10234a
$shadow-color: #7f1bad
$warning-color: #ff6700
$shine-color: rgba(255,255,255,0.4)

//size
$border-radius: 8px